div.hobby {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    
}
div.educations {
    width: 100px;
    height: 100px;
    background-color: tomato;
}
div.employment {
    width: 100px;
    height: 100px;
    background-color: green;
}
div.skills {
    width: 100px;
    height: 100px;
    background-color: tomato;
}
div.contact-me{
    width: 100px;
    height: 100px;
    background-color: tomato;
}
div.My_hobby{
    width: 100px;
    height: 100px;
    background-color: tomato;
}
div.Pengalaman{
    width: 100px;
    height: 100px;
    background-color: tomato;
}